body {
  font-family: Helvetica, 'microsoft yahei', Arial, sans-serif;
  /*font-size: 14px;*/
  line-height: 1.6;
  padding: 4pt;
  color: #4e443c;
  background: #fff;
  /*width: 940px;*/
  margin: 0 auto;
}

a {
  color: #4183C4;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
  text-decoration: none;
}

h1 {
  font-size: 28px;
  color: black;
}

h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  color: #777777;
  font-size: 14px;
}

p, blockquote, ul, ol, dl, li, table, pre {
  margin: 15px 0;
}

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin-top: 0;
}

li p.first {
  display: inline-block;
}

ul, ol {
  padding-left: 30px;
}

ul :first-child, ol :first-child {
  margin-top: 0;
}

ul :last-child, ol :last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

code {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  background-color: #f8f8f8;
  border: 1px solid #eaeaea;
  margin: 0 3px;
  padding: 0 3px;
  white-space: nowrap;
  border-radius: 3px;
}

pre {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  /*font-size: 13px;*/
  line-height: 100%;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 4px;
}

ol.book_toc {
  margin: 30px 36px;
  list-style: none;
  background: #f1f1f1;
}

ol.book-toc h2 {
  color: #4e443c;
}

.chapter {
  margin-bottom: 0.6em;
}

ol.chapter_toc {
  list-style: none;
  background: #eee;
  padding: 5px 30px;
  border-radius: 3px;
}

ol.chapter_toc li {
  margin: 5px 0;
}

ol.book_toc ol.chapter_toc {
  background: transparent;
  margin: 0;
}

.chapter h2 {
  border: none;
  margin-bottom: 0;
}

.chapter h2 a {
  font-weight: bold;
}

.bottom-nav {
  text-align: center;
  background-color: #ebe9e1;
  background-color: rgba(223,221,213,0.33);
  border-radius: 3px;
  padding: 8px 12px 6px 12px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: bold;
}

.bottom-nav .next{
    float: right;
}

.bottom-nav .prev {
    float: left;
}
